body {
    background-color: rgb(247, 205, 211);
}

img {
    width: 4%;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}
.ahellokittycerta{
    width: 20%;
}
.intro{
    display: flex;
    margin: 32px;
    background-image: linear-gradient(#C23188, #FFFFFF,#C23188);
    padding: 30px;
    border: 3px solid white;
    align-items: center;
    justify-content: space-between;

}
#equipe{
 display: grid; 
 grid-template-columns: 33% 33% 33%;
 text-align: center;
 background-color: aliceblue;
 color: rgb(0, 0, 0);
}
.foto{
    width: 40%;
}
header a{
    color: rgb(231, 0, 193);
    text-decoration: dotted;
}

