body {
    background-color: rgb(247, 205, 211);
}

img {
    width: 4%;
}

header {
    background-color: #BE38A1;
    display: flex;
    justify-content: space-between;
    /* align-content: flex-end; */
    align-items: center;
    padding: 0 12px;
}
.ahellokittycerta{
    width: 20%;
}
.intro{
    display: flex;    
    background-color: #FDCBF2;
    
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}

#equipe{
 display: grid; 
 grid-template-columns: 33% 33% 33%;
 text-align: center;
 background-color: aliceblue;
 color: rgb(0, 0, 0);
}

.foto{
    width: 40%;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: dotted;
}

.hellokitty{
    display: flex;    
    background-image: linear-gradient(#F58EB3, #FFFFFF);
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}
.kuromi{
    display: flex;    
    background-image: linear-gradient(#DF9DF5, #FFFFFF);
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}
.CINAMONROUL{
    display: flex;    
    background-image: linear-gradient(#91AAEA, #FFFFFF);
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}
.mymelody{
    display: flex;    
    background-image: linear-gradient(#EE60A4, #FFFFFF);
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}
.fot{
    width: 40%;
}